.container {
  margin: 0 auto;
  padding: 1rem;
  width: 95%;
  max-width: 1200px;
  min-height: inherit;
}

.title {
  margin-bottom: 1rem;
  color: #ddd;
}

.content {
  display: flex;
  gap: 2rem;
}

.rightColumn {
  display: none;
}

@media screen and (min-width: 900px) {
  .rightColumn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
  }
}
