.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  width: 95%;
  max-width: 1200px;
  min-height: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  width: 80%;
  max-width: 400px;
  color: #ddd;
  background-color: #1a1a1b;
  border: 1px solid #343536;
  border-radius: 5px;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form input {
  padding: 0.5rem;
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid #838484;
  border-radius: 10px;
}

.btn {  
  padding: 0.5rem;
  width: 100%;
  color: #ddd;
  font-size: 1rem;
  font-weight: bold;
  background-color: #0079d3;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}