.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 5px;
  width: 100%;
  color: #ddd;
  background-color: #1a1a1b;
  border: 1px solid #343536;
  border-radius: 10px;
}

.postHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.postHeaderCommunity {
  color: #ddd;
  font-weight: bold;
  font-size: 0.9rem;
}

.postHeaderCommunity:hover {
  text-decoration: underline;
}

.postHeaderUser {
  color: #818384;
  font-weight: bold;
  font-size: 0.9rem;
}

.postHeaderUser:hover {
  text-decoration: underline;
}

.postBody {
  color: #ddd;
}

.postTitle {
  font-size: 0.9rem;
}

.postContent {
  font-size: 1rem;
}

@media screen and (min-width: 410px) {
  .container {
    padding: 0.5rem;
  }

  .postTitle {
    font-size: 1rem;
  }
}

@media screen and (min-width: 700px) {
  .container {
    padding: 0.75rem;
  }
  
  .postTitle {
    font-size: 1.1rem;
    font-weight: bold;
  }
}
