.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem;
  width: 100%;
  color: #ddd;
  background-color: #1a1a1b;
  border: 1px solid #343536;
  border-radius: 10px;
}
